.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.color{
  background-color: #003A6B;
  border-bottom: 3px solid #c08e2d;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.logo {
  font-size: 25px !important;
  font-weight: normal !important;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
  font-family:leelawadee,sans-serif;
  padding-left: 10px;
  line-height: 24px;
}

.logo a, .logo span {
  color: #fff;
  text-decoration: none;
}

.logo:hover{
  text-decoration: underline !important;
}

#unimag{
  font-weight: 700;
  font-size: 21px !important;
  font-family: leelawadee,sans-serif;
}

.logo-img{
  max-width: 55px;
}
#volver{
  position: relative;
  margin-right: 15px;
  background-color: transparent;
  border-radius: 20px;
  color: white;
  border: 0px solid white;
  font-size: 20px;
}


.aqua
{
  width: 250px;
}
.conf-etiqueta{
  display: flex;

  padding: 0px;
  margin: 0px !important;
  align-items: start;
  padding-right: 20px Im !important;
}
.dropdown-toggle {
  caret-color: rgb(255, 255, 255);
}

.perfil{
 font-size: 13px;

 opacity: 0.8;
}

.name{
  font-size: 15px;
  font-weight: bold;
  
}
.margin{
  width:auto;
}
.cont{
  display: flex;
  justify-content: center;
  
}

.mar{
  margin-left: 20px;
}

.notification {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
}


.ml{
  margin-left: 20px;
}

.ho:hover{
  cursor: pointer;
}

  .dropdown-toggle::after {
    border-top-color: rgb(255, 255, 255) !important;
  }

  .dropdown-top{
    margin-top: 20px !important;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 50px;
    clear: both;

    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0);
}



.sidebar{
  box-shadow: 5px   ;
}

.container-principal{
  margin: 0px !important;
  padding: 0px !important;
}

.height-100vh {
  height: 100vh;
}

.navhover:hover{
  background-color: rgba(229, 229, 229, 0.923);
}

.cursor-pointer:hover{
  cursor: pointer;

}

.editar-cont{
  font-weight: 600;
  font-size: 23px;
}

.light{
  color: black !important;
  border: none;
  background-color: rgb(237, 234, 234);
  font-weight: 600;
}

.light:hover{
  background-color: rgb(223, 223, 223);
  border:none;
  color:black !important;
  font-weight: 600;
}
.conf-sub{
  font-weight: 600;
}

.bri{
  background-color: aqua;
}

.guardar{
  border: transparent !important;

  background-color: #004a87;
}

.guardar:hover{
  border: transparent !important;
  background-color: #003A6B;
}

.sidebar-op{
  color: black;
  text-decoration: none;
}

.sidebar-op:hover{
  color: black;
  text-decoration: none;
}


/* Image dropzone */

.dropzone {
  border: 4px dashed #ccc;
  height: 200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 50%;
}

.info {
  margin-top: 11%;
}

.dropzone p {
  /*height: 100%;*/
  /*line-height: 200px;*/
  margin: 0%;
  text-align: center;
  width: 100%
}

.input {
  height: 100%;
  left: 0;
  outline: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.dropzone.dropzone-dragging {
  border-color: #000
}
